<ul class="list-inline col-md-12">
    <li class="itemRow columnCaptions col-md-12">
        <span>Vare</span>
        <span>Total</span>
    </li>

    {% for item in items.lineItems %}


        <li class="itemRow col-md-12">
            <span class="itemName">{{ item.description }}</span>
            <span class="price">{{ item.price|currency(cart.currency) }}</span>
        </li>

    {% endfor %}


    {% for adjustment in items.adjustments %}

        {% if adjustment.type == "Tax" %}

        {% elseif adjustment.type == "Elektronikforsikring" %}

            <li class="itemRow col-md-12">
                <span class="itemName">{{ adjustment.type }}<br>{{ adjustment.name|t }}
                    ({{ adjustment.description|t('ingen moms ') }})</span>
                <span class="price">{{ adjustment.amount|currency(cart.currency) }}</span>
            </li>

        {% endif %}
    {% endfor %}

    <li class="cartSum col-md-12">
        <div class="line">
            <span class="itemName">Deltotal</span>
            <span class="price">{{ cart.totalPrice|currency(cart.currency) }}</span>
        </div>
        <div class="line">
            <span class="itemName">Leveringsomkostninger</span>
            <span class="price">Gratis</span>
        </div>
        <div class="line">
            <span class="itemName">Total</span>
            <span class="price">{{ cart.totalPrice|currency(cart.currency) }}</span>
        </div>
        <div class="line">
            <span class="itemName">Heraf moms</span>
            <span class="price">0,00 kr.</span>
        </div>

    </li>
</ul>

