{% set steps = [
{
label: "Indtast E-mail",
url: 'commerce/checkout/'
},
{
label: "Personlige informationer",
url: 'commerce/checkout/personlige-informationer'
},
{
label: "Bekræft & Betal",
url: 'commerce/checkout/bekraeft-og-betal'
},
{
label: "Orderbekræftelse",
url: 'commerce/checkout/confirm'
}
] %}



{% set cart = craft.commerce.cart %}

{% if cart.totalPrice == 0 %}
    {% redirect "commerce/kurv" %}
{% endif %}



{% if width is not defined %}
    {% set width = 0 %}
{% endif %}

<div class="row white">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="steps">
                <ul>
                    {% for key, step in steps %}

                        {% set class = '' %}
                        {% if craft.request.requestUri|slice(1) == step.url %}
                            {% set width = ((key+1) * 100 / steps|length)-20 %}
                            {% set class = "sel" %}
                            {% set currentStep = key %}

                            {% set href = '#' %}
                        {% endif %}

                        {% if currentStep is not defined %}
                            {% set class = "done" %}
                            {% set href = url(step.url) %}
                        {% endif %}
                        <li class="{{ class }}"><span>{{ loop.index }}. <a href="{{ href }}">{{ step.label }}</a></span>
                        </li>

                    {% endfor %}
                </ul>

                <div class="meter">
                    <span style="width: {{ width }}%"></span>
                </div>
            </div>
        </div>
    </div>
</div>

