<div class="cart-table">
    <table class="table">

        <thead>
        <tr>
            <th><b>{{ "Product"|t }}</b></th>
            <th class="text-right"><b>{{ "Price"|t }}</b></th>
        </tr>
        </thead>
        {% set cardFee = "" %}
        {% set creditCard = "" %}
        {% if cardType is defined %}
            {% set creditCard = cardType %}
        {% endif %}


        {% if orderTransaction is defined %}
            {% set cardFee = orderTransaction.txnfee/100 %}

        {% endif %}

        {% for item in items.lineItems %}

            <tr>
                <td>{{ item.description }}</td>
                <td class="price text-right">{{ item.price|currency(items.currency) }}</td>
            </tr>

        {% endfor %}


        {% for adjustment in items.adjustments %}

            {% if adjustment.type == "Tax" %}

            {% elseif adjustment.type == "Elektronikforsikring" %}

                <tr>
                    <td>{{ adjustment.type }}<br>{{ adjustment.name|t }}
                        ({{ adjustment.description|t('ingen moms ') }})
                    </td>
                    <td class="price text-right">{{ adjustment.amount|currency(items.currency) }}</td>
                </tr>

            {% endif %}
        {% endfor %}

        <div class="basket">
            <tr class="line">
                <td class="itemName text-right">Subtotal</td>
                <td class="price text-right">{{ items.totalPrice|currency(items.currency) }}</td>
            </tr>
            <tr class="line">
                <td class="itemName text-right">Leveringsomkostninger</td>
                <td class="price text-right">0,00 kr.</td>
            </tr>


            <tr class="line">
                <td class="itemName text-right">Kortgebyr {{ creditCard }}</td>

                {% if cardFee > 0 %}
                <td class="price text-right">{{ cardFee|currency(items.currency) }}</td>
                    {% else %}
                        <td class="price text-right">{{ cardFee}}</td>
                {% endif %}
            </tr>

            <tr class="line">
                <td class="itemName text-right">Heraf moms</td>
                <td class="price text-right">0,00 kr.</td>
            </tr>

        </div>
        <tr>
            <td class="Total"><b>Total</b></td>
            <td class="price text-right"><b>{{ (items.totalPrice+cardFee)|currency(items.currency) }} </b></td>
        </tr>
    </table>
</div>