<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form method="post" accept-charset="UTF-8">
  {{ getCsrfInput() }}
  <input type="hidden" name="action" value="users/saveUser">
  <input type="hidden" name="redirect" value="min-forsikring/login">

  {% macro errorList(errors) %}
    {% if errors %}
      <ul class="errors">
        {% for error in errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endmacro %}

  {% from _self import errorList %}


  <h3><label for="email">E-mail</label></h3>
  <input id="email" type="text" name="email"
          {%- if account is defined %} value=""{% endif %}>

  {% if account is defined %}
    {{ errorList(account.getErrors('email')) }}
  {% endif %}

  <h3><label for="password">Password</label></h3>
  <input id="password" type="password" name="password">

  {% if account is defined %}
    {{ errorList(account.getErrors('password')) }}
  {% endif %}

  <input type="submit" value="Register">
</form>
</body>
</html>