

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>


    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            font-size: 100%;
            font-family: 'Avenir Next', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
            line-height: 1.65;
        }

        img {
            max-width: 100%;
            margin: 0 auto;
            display: block;
        }

        body,
        .body-wrap {
            width: 100% !important;
            height: 100%;
            background: #efefef;
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
        }

        a {
            color: #2e89a5;
            text-decoration: none;
        }

        .text-center {
            text-align: center;
        }

        .text-right {
            text-align: right;
        }

        .text-left {
            text-align: left;
        }

        .button {
            display: inline-block;
            color: white;
            background: #2e89a5;
            border: solid #2e89a5;
            border-width: 10px 20px 8px;
            font-weight: bold;
            border-radius: 4px;
        }

        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 20px;
            line-height: 1.25;
        }

        h1 {
            font-size: 32px;
        }

        h2 {
            font-size: 28px;
        }

        h3 {
            font-size: 24px;
        }

        h4 {
            font-size: 20px;
        }

        h5 {
            font-size: 16px;
        }

        p, ul, ol {
            font-size: 16px;
            font-weight: normal;
            margin-bottom: 20px;
        }

        li, ul {
            list-style: none;
            margin: 0;
        }

        .container {
            display: block !important;
            clear: both !important;
            margin: 0 auto !important;
            max-width: 580px !important;
        }

        .container table {
            width: 100% !important;
            border-collapse: collapse;

        }

        .price table {
            width: 100% !important;

            padding: 2px;

        }

        .price table tr, .price table td {

            padding: 4px;
            border: 1px solid #2e89a5;

        }

        .container .masthead {
            padding: 40px 0;
            background: #2e89a5;
            color: white;
        }

        .container .logohead {
            padding: 40px 0;
            background: #FFFFFF;
        }

        .container .masthead h1 {
            margin: 0 auto !important;
            max-width: 90%;
            text-transform: uppercase;
        }

        .container .content {
            background: white;
            padding: 30px 35px;
        }

        .container .content.footer {
            background: none;
        }

        .container .content.footer p {
            margin-bottom: 0;
            color: #888;
            text-align: center;
            font-size: 14px;
        }

        .container .content.footer a {
            color: #888;
            text-decoration: none;
            font-weight: bold;
        }

        .container .logo {

            width: 300px;
        }
    </style>
</head>
<body>

<table class="body-wrap">
    <tr>

        <td class="container">
            {% set orderTransaction = craft.elektronikforsikring.orderTransaction(order.id)   %}

            <!-- Message start -->
            {#TODO - Make this global for other templates to use #}
            {% set subject =''%}
            {% set body =''%}
            {%  for block in globalEmails.emails %}

                {% if block.type == "ordrebekraeftelse" %}

                    {% set subject = include(template_from_string(block.subject)|raw) %}
                    {% set body = include(template_from_string(block.body)|raw)  %}


                {% endif %}

            {% endfor %}



            <table>
                <tr>
                    <td align="center" class="logohead">

                        <p><img class="logo" src="http://ef.18digital.dk/assets/images/elektronikforsikring-logo.svg"/></p>


                    </td>
                </tr>
                <tr>
                    <td align="center" class="masthead">
                        <h1>{{ subject|raw }}</h1>
                    </td>
                </tr>
                <tr>
                    <td class="content">
                        <p>{{ body|raw }}</p></td>
                </tr>
                <tr>
                    <td class="content">
                        <table>
                            <tr>
                                <td valign="top">
                                    <h4>{{ "Order"|t }}</h4>
                                    <ul>
                                        <li><strong>Ordrenr.:</strong> {{ order.number[:7] }}</li>

                                        <li><strong>{{ "Date"|t }}:</strong> {{ order.dateOrdered|date("d-m-Y",false) }}</li>
                                    </ul>
                                </td>
                                <td>
                                    <h4>{{ "Forsikringsadresse"|t }}</h4>


                                    <ul>
                                        <li>{{ "E-mail"|t }}: {{ order.customer.email }}<br></li>
                                        <li>{{ order.shippingAddress.firstName }} {{ order.shippingAddress.lastName }}</li>
                                        <li>{{ order.shippingAddress.address1 }}</li>
                                        <li>{{ order.shippingAddress.zipCode }} {{ order.shippingAddress.city }}</li>
                                        {% if order.shippingAddress.phone is not empty %}
                                            <li>{{ order.shippingAddress.phone }}</li>
                                        {% endif %}
                                    </ul>
                                </td>
                            </tr>
                        </table>


                    </td>
                </tr>
                <tr>
                    <td class="content price">
                        <table>
                            <tr>
                                <td>{{ "Product"|t }}</td>
                                <td>{{ "Qty"|t }}</td>
                                <td>{{ "Periode"|t }}</td>
                                <td class="text-right">{{ "Price"|t }}</td>
                            </tr>
                            {% for item in order.lineItems %}
                                <tr>
                                    <td>
                                        <strong>{{ item.description }}</strong><br>
                                    </td>
                                    <td>
                                        {{ item.qty }}
                                    </td>
                                    <td><b>{{ order.dateOrdered|date("F") }}</b> måned</td>
                                    <td class="text-right">
                                        {{ item.shippingCost|currency(order.currency) }}<br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>{{ item.description }}</strong>
                                    </td>
                                    <td>
                                        {{ item.qty }}
                                    </td>
                                    <td>Herefter pr. md.</td>
                                    <td class="text-right">
                                        {{ item.price|currency(order.currency) }}<br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Kortgebyr</strong>
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td>&nbsp;</td>
                                    <td class="text-right">
                                        {{( orderTransaction.txnfee/100)|currency(order.currency) }}<br>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-right">
                                        {{ "Tax"|t }}: {{ item.tax|currency(order.currency) }}<br>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-right"><h4>{{ "Total"|t }} hævet på
                                            kort: {{ (order.totalPrice+( orderTransaction.txnfee/100))|currency(order.currency) }}</h4></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>

            </table>


        </td>
    </tr>
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td class="content footer" align="center">
                        <p><a href="mailto:">kundeservice@elektronikforsikring.dk</a></p>
                        © {{ now|date('Y') }} Danrisk
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
</html>