{% set globalCertificat =  craft.elektronikforsikring.globalCertificat %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>


    <style type="text/css">

        @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            src: url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
        }

        * {
            margin: 0;
            padding: 0;
            font-size: 11px;
            font-family: 'Open Sans','Arial', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
            line-height: 1.65;
        }



        img {
            max-width: 100%;
            margin: 0 auto;
            display: block;
        }

        html {
            height: 100%;


        }

        body {
            min-height: 100%;
            margin: 0 auto;
            padding: 0;
            background-image: url({{ siteUrl }}/assets/images/certificat_bg.png);
            background-repeat: no-repeat;
            border-left: 15px solid #e6184e;

        }

        .body-wrap {

            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
            padding: 0 100px 0 20px;

        }

        li, ul {
            list-style: none;
            margin: 0;
        }

        ul.leaders li {
            border-bottom: 1px dotted #2e89a5;

        }

        ul.leaders span:first-child {

            background: white;
            font-weight: bold;
            padding-right: 10px;

        }

        ul.leaders span + span {
            float: right;
            text-align: right;
            padding-left: 10px;
            position: relative;
            top: 9px;
            background: #FFF;

        }


        .header h1 {
            font-size: 30px;
        }



        td.content {
            width: 50%;
            text-align: right;
            float: right;

        }

        td.headline {
            float: left;
            font-weight: bold;

        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-left: 30px;

        }

        hr {
            border: none;
            border-top: 1px dotted #2e89a5;
            color: #fff;
            background-color: #fff;
            height: 1px;

        }

        .top-logo {
            margin: 40px 0 0 60px;
            width: 100%;
            text-align: center
        }

        .top-logo img {
            width: 300px;
            height: auto;
        }

        .price {
            margin: 30px 0px 30px 50px;
        }

        /*html {*/
        /*background: url('http://forsikring.18digital.dev/assets/images/camera.jpeg') no-repeat center center fixed;*/
        /*-webkit-background-size: cover;*/
        /*-moz-background-size: cover;*/
        /*-o-background-size: cover;*/
        /*background-size: cover;*/
        /*}*/

        .footer {
            position: absolute;
            top: 940px;
            height: 200px;
            text-align: center;
            width: 100%;
            margin: 0;
            padding:0;
        }

        .footer .footer-logo img {width:170px;height:auto;}
        .footer .footer-logo {width:100%;text-align:center;width:100%}

        a {
            color:#e6184e;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="body-wrap">
    <div class="top-logo"><img src="{{ siteUrl }}/assets/images/pdf-logo.png"/></div>
    {#<div class="header">#}
        {#<h1>{{ globalCertificat.pageTitle|raw }}</h1>#}
        {#<p>{{ globalCertificat.body|raw }}</p>#}

    {#</div>#}
    <div class="price">
        <table cellpadding="0" cellspacing="0" width="500">
            {% set total =  globalCertificat.forsikringscertifikat|length %}
            {% for items in globalCertificat.forsikringscertifikat %}

                {% if items.type == "line" %}
                    <tr>
                        <td class="headline">{{ items.fieldName }}</td>
                        <td class="content">{{ include(template_from_string(items.value)|raw) }}</td>
                    </tr>

                    {% if loop.index < total %}
                        <tr>
                            <td colspan="2">
                                <hr>
                            </td>
                        </tr>
                    {% endif %}

                {% endif %}

            {% endfor %}
        </table>

    </div>

</div>
<div class="footer">
    <div class="footer-logo"><img src="{{ siteUrl }}/assets/images/pdf-logo.png"/></div>
    <p>Forsikringsagentur ApS • Havnevej 1 • 4000 Roskilde • Tlf: 46 30 60 30 • kontakt@danrisk.dk</p>
</div>
</body>
</html>