/**
 * elektronikforsikring plugin for Craft CMS
 *
 * elektronikforsikring CSS
 *
 * @author    Martin Beuschau
 * @copyright Copyright (c) 2016 Martin Beuschau
 * @link      18digital.dk
 * @package   Elektronikforsikring
 * @since     1.0.0
 */
.order-form {
  margin-top: 20px;
  float: right; }

/*# sourceMappingURL=Elektronikforsikring_Style.css.map */
