{% include 'includes/base/_header' %}
{% include 'navigation/_default' %}
<div class="wrapper">
    {% block content %}
        <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
        <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
    {% endblock %}

</div>
{% include 'includes/footer/_footer.html' %}
</body>
</html>
