{% set page ='' %}
{% set showNav = false %}


{% extends 'commerce/_layouts/main' %}

{% block header %}
    <div id="header" class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ url('commerce') }}">{%- include "commerce/_images/logo" with {'class': 'logo'} -%}</a>


                <div class="flash">{{ craft.session.getFlash('notice') }}</div>
                <div class="flash">{{ craft.session.getFlash('error') }}</div>

                {% if cart.isEmpty %}
                    <div class="flash">{{ "Your cart is empty"|t }}.</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block main %}

    {% include 'commerce/_includes/meter' %}

    {% block content %}

    {% endblock %}

{% endblock %}
