{% set cart = craft.commerce.cart %}


<header>
    <nav class="navbar navbar-fixed-top" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Menu</span>
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
            </button>
            <a href="/"><img class="logo" src="{{ globalwebsitelogo.websiteLogo.first().url }}"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right">

            {% if page != 'order' %}
                {% if page|length > 0 %}
                    {% if not cart.lineItems|length %}
                        <a class="btn buy-nav" href="/commerce">KØB </a>
                    {% else %}
                        <a class="btn buy-nav" href="/commerce/checkout/">{{ "Til betaling"|t }}</a>
                    {% endif %}
                {% endif %}
            {% endif %}


            <ul class="nav navbar-nav">


                <li class="{{ (page == 'elektronikforsikring') ? 'active' : '' }}"><a href="/elektronikforsikring">FORSIKRINGEN</a>
                </li>
                <li class="{{ (page == 'kundeservice') ? 'active' : '' }}"><a href="/kundeservice">KUNDESERVICE</a>
                <li class="{{ (page == 'kontakt') ? 'active' : '' }}"><a href="/kontakt">KONTAKT</a>
                    {% if page != 'order' %}
                <li class="nav-basket {{ (page == 'kurv') ? 'active' : '' }}"><a href="/shop/kurv"><i
                                class="fa fa-shopping-basket" aria-hidden="true"></i></a>
                </li>
                <li class="dropdown">

                    <div class="dropdown-menu">
                        <div class="container-fluid">

                            <h2>Kurv</h2>

                            <table class="table table-striped table-basket">
                                <thead>
                                <tr>
                                    <th>{{ "Product"|t }}</th>
                                    <th>{{ "Periode"|t }}</th>
                                    <th class="text-right">{{ "Price"|t }}</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for item in cart.lineItems %}
                                    <tr>
                                        <td><strong>{{ item.description }}</strong></td>
                                        <td><b>{{ now|date("F") }}</b> md.</td>
                                        <td nowrap
                                            class="text-right">{{ item.shippingCost|currency(cart.currency) }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>{{ item.description }}</strong></td>
                                        <td>Herefter pr. md.</td>
                                        <td nowrap class="text-right">{{ item.price|currency(cart.currency) }}</td>
                                    </tr>
                                    <tr>
                                        <td>* Ingen moms på forsikringen</td>
                                        <td nowrap colspan="2" class="text-right">*{{ "Tax"|t }}
                                            : {{ item.tax|currency(cart.currency) }}<br></td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="3" class="text-right">
                                        <h4>{{ "Total Price"|t }}: {{ cart.totalPrice|currency(cart.currency) }}</h4>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </nav>

</header>
{% includejs %}

 {% if cart.lineItems|length %}
     $('ul.nav li.nav-basket').hover(

     function() {
     $('.dropdown-menu').addClass("showBasket");
     },

     function() {
     $('.dropdown-menu').removeClass("showBasket");
     });
 {% endif %}
{% endincludejs %}



