<!-- Modal -->
{% set betingelser = craft.entries.id("254").first() %}

<div class="modal fade" id="conditions-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">{{ betingelser.title }}</h2>
      </div>
      <div class="modal-body">
        {% for block in betingelser.sektion %}
          <div class="content">
            <hr/>
            <h4><strong>{{ block.headline }}</strong></h4>
            <hr/>
            <p>{{ block.body }}</p>
          </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">LUK</button>
      </div>
    </div>
  </div>
</div>

{# <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#conditions-modal">Se betingelser</button>
#}