{% set page = 'kurv' %}
{% set cart = craft.commerce.cart %}
{% set globalKurv = craft.elektronikforsikring.globalKurv %}
{% set priceTodayTotal = craft.elektronikforsikring.getPriceTodayTotal %}
{% extends 'commerce/_layouts/main' %}

{% block content %}
    {# DON'T SHOW SECTIONS IF BASKET IF FULL#}
    {% if not cart.lineItems|length %}
        {% include "includes/matrix/sections" with { 'sections' : globalKurv.sektioner } %}
    {% else %}
        <div class="row grey checkout">
            <div class="container">
                <div class="col-md-12">
                    <h1>Din indkøbskurv</h1>
                    {#
                       TODO - the is only needed when supplierId is defined

                       <select id="supplierId" class="form-control">
                           {% for item in suppliers.supplier %}
                               <option>{{ item.supplier }}</option>
                           {% endfor %}
                       </select>
                       #}
                    {% if cart.lineItems|length %}
                        <div class="col-md-5 col-sm-12">
                            <i class="fa fa-shopping-cart large-cart"></i>
                            <p>Din indkøbskurv er fyldt helt op. Du kan nemlig kun købe en forsikring pr.
                                adresse.</p>
                            {# Remove all line items to empty the cart: #}
                            <form method="POST">
                                <input type="hidden" name="action" value="commerce/cart/removeAllLineItems"/>
                                <input type="hidden" name="redirect" value="commerce/kurv"/>
                                {{ getCsrfInput() }}
                                <input class="btn-link" type="submit" value="Tøm kurven"/>
                            </form>
                        </div>
                        <div class="col-md-7 col-sm-12 text-left">
                            {% include 'commerce/_includes/orderitem' with {items:cart} %}

                            <div class="col-md-12 text-right"><a href="/commerce/checkout/"
                                                                 class="btn btn-primary text-right">Fortsæt</a>
                                <p>&nbsp;</p>
                            </div>
                        </div>

                    {% endif %}


                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
