{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% set title = "KONTAKT" %}
{% set page = "kontakt" %}
{% extends "includes/default" %}




{% block content %}

    <div class="col-md-12 map">
        <div class="google-map-canvas" id="map-canvas">
        </div>
    </div>

    <div class="row white">
        <div class="col-md-8 col-md-offset-3">
            <section class="page-content">
                {% for block in entry.sektion %}
                    <div class="container">
                        <h1>{{ block.headline }}</h1>
                        <p>{{ block.body }}</p>
                    </div>
                {% endfor %}
            </section>
        </div>
    </div>
{% endblock %}

{% includeJsFile 'http://maps.googleapis.com/maps/api/js?extension=.js&output=embed&key=AIzaSyBgpu6l_SuS1akw46G0_3Xd_24xmcekfxU' %}
{% includeJsFile '/assets/js/googlemap.js' %}
