{#
/**
 * elektronikforsikring plugin for Craft CMS
 *
 * elektronikforsikringWidget Settings
 *
 * @author    Martin Beuschau
 * @copyright Copyright (c) 2016 Martin Beuschau
 * @link      18digital.dk
 * @package   Elektronikforsikring
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% includeCssResource "elektronikforsikring/css/Elektronikforsikring_Style.css" %}
{% includeJsResource "elektronikforsikring/js/Elektronikforsikring_Script.js" %}

{{ forms.textField({
    label: 'Navision E-mail',
    instructions: 'Where to send the order CSV file?',
    id: 'navisionEmail',
    name: 'navisionEmail',
    value: settings['navisionEmail']})
}}
