

<section class="footer">
    <div class="container">
        <div class="row">
            {% set logo = '' %}
            {% for blocks in globalFooter.footercolumns %}
ss
                {% if blocks.type == "logo" %}
                    {% set logo = blocks.logo.first().url %}
                {% endif %}



                <div class="col-md-3 col-sm-4 col-xs-6">
                    <h2>{{ blocks.columnheader }}</h2>
                    {% if blocks.type =="kundeservice" %}
                        <ul>
                            {% for pageLink in blocks.links %}
                                <li><a href="{{ pageLink.getUrl() }}">{{ pageLink.getTitle() }}</a></li>
                            {% endfor %}
                        </ul>

                    {% endif %}
                    {% if blocks.type =="produkter" %}
                        <ul>
                            {% for productLink in blocks.produktLinks %}
                                <li><a href="/elektronikforsikring">Elektronikforsikring</a></li>

                            {% endfor %}
                        </ul>

                    {% endif %}
                    {% if blocks.type =="kontakt" %}
                        <p>{{ blocks.body }}</p>

                    {% endif %}
                    {% if blocks.type =="info" %}
                        <p>{{ blocks.body }}</p>
                        <ul class="creditcards">
                            {% for img in blocks.kreditkort %}
                                <li><img src="{{ img.url }}"/></li>
                            {% endfor %}
                        </ul>

                    {% endif %}


                </div>

            {% endfor %}


        </div>
    </div>
</section>
<section class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">

                <img src="{{ logo }}" class="logo"/></div>

        </div>
    </div>
</section>
{% includeJsFile '/assets/js/all.js' %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->


