@import "variables";
@import "input";

input:focus {
  outline: none;
}

.siteRow {
  padding: 0 !important;
  &:before {
    padding: 0 !important;
    margin: 0 !important;
  }
}

section.checkout {

  .form-group input {
    //border-radius: 2px;
    //display: block;
    //box-sizing: border-box;
    //width: 100%;
    //word-break: normal;
    //height: 40px;
    //background: rgba(111, 195, 180,0.3);
    //border:0

    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    display: block;
    font-size: 12px;
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
    border-radius: 0 !important;
  }

  .nopadding {
    padding-right: 0
  }
}

i.basketIcon {
  font-size: 10em;
  color: $color-default-selected;
}

.form-box {

  background: #fff;
  border: 1px solid #eee;
  margin-bottom: 1em;
  border-radius: 4px;
  padding: 20px !important;

}

section.basket {

  font-size: 14px;

  ul {
    list-style-type: none;
  }
  ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
  }

  ul li {
    padding: 0;
  }

  ul li.columnCaptions span:first-child {

    float: left;
  }
  ul li.columnCaptions span {
    padding: 0 21px 0 0;
    float: right;
  }

  .line {
    clear: both;
    font-size: 12px;
    color: #2e2e2e;

  }

  .itemName {
    color: #727578;
    float: left;
    padding-left: 25px;
  }
  .price {
    color: #2e89a5;
    font-weight: bold;
    float: right;
  }
  .checkOutButton {

    margin-top: 10px;
    float: right;
  }
  li.cartSum {

    padding: 12px;
  }

  li.itemRow {
    box-shadow: 0 1px 0 #e1e5e8;
    padding: 0 15px 0 15px;
    background-color: #ffffff;
    margin-bottom: 5px;
  }

  .itemRow span {
    padding: 20px 0 6px 0;
  }

  .itemRow .line span {
    padding: 0;
  }

  .quantity {
    color: #4ea6bc;
    font-size: 18px;
    font-weight: bold;
    float: left;
    width: 42px;
    padding-left: 7px;
  }

}