
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: 'Avenir Next', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  line-height: 1.65;
}

img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

body, .body-wrap {
  background: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  padding: 0;
  margin: 0;
}

a {
  color: #2e89a5;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  line-height: 1.25;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

p, ul, ol {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
}

li, ul {
  list-style: none;
  margin: 0;
}

.container {
  display: block !important;
  clear: both !important;
  margin: 0 auto !important;
  max-width: 780px !important;
}

.container table {
  width: 100% !important;
  border-collapse: collapse;
  margin-bottom: 40px;

}

.price table {
  width: 100% !important;

  padding: 2px;

}

.price table td {

  padding: 10px;
  border: 1px solid #2e89a5;
  font-size: 11px;

}

.masthead {
  padding: 40px 0;
  background: #2e89a5;
  color: white;
  text-align: center;

}

.masthead h1 {
  font-size: 60px;
}

.container .logohead {
  padding: 40px 0;
  background: #FFFFFF;
}

.container .masthead h1 {
  margin: 0 auto !important;
  max-width: 90%;
  text-transform: uppercase;
}

.container .content {
  background: white;
  padding: 0px 35px;
}

.container .content.footer {
  margin-bottom: 30px;
}

.container .content.footer p {
  margin-bottom: 0;
  color: #888;
  text-align: center;
  font-size: 14px;
}

.container .content.footer a {
  color: #888;
  text-decoration: none;
  font-weight: bold;
}

.container .logo {

  width: 300px;
}

.items {

  padding: 0;
  margin: 0 auto;
  width: 70%;

}