.box {

  padding: 20px 20px 40px 20px;
  margin: 0 auto;
  text-align: center;

  h2 {

    padding: 20px;

  }

  .content-box {

    transition: all .2s ease-in-out;

    h3 {
      text-transform: uppercase;
      color: $color-default-selected;

    }

    text-align: left;
    background: #FFF;
    padding: 20px;
    font-family: $font-default-header;
    min-height: 250px;
    margin-bottom: 20px;
    p {
      color: #444;
    }
  }

  .content-box-did-you-know {

    transition: all .2s ease-in-out;

    h3 {
      text-transform: uppercase;
      color: $color-default-selected;

    }

    text-align: left;
    background: #FFF;
    padding: 20px;
    font-family: $font-default-header;
    min-height: 250px;
    margin-bottom: 20px;
    p {
      color: #444;
    }
  }

  .content-box-masonry {

    h3 {
      text-transform: uppercase;
      color: $color-default-selected;

    }
    font-style: italic;
    font-weight: 400;
    text-align: left;
    background: #FFF;
    padding: 20px;
    font-family: $font-default-header;
    margin-bottom: 10px;

  }

  &.red {

    color: #FFF;

    h1, h2, h3, h4, h5, h6 {
      color: #FFF;
    }
  }

}

.buttons {
  padding: 30px 0 0 0;
}

section.product {
  h2 {

    font-size: calc(30% + 3.5vw);

  }
  .content {
    padding: 20px;
  }

  @media (max-width: 676px) {

    h2 {

      font-size: calc(100% + 3.5vw);

    }

  }

}


