section.faq {

  li {

    a, p, h2 {
      text-align: left;
      font-size: 24px;
    }

    h2 {
      font-size: 14px;
      padding: 0;
      margin: 0;
    }

    p {

      font-size: 14px;
    }
  }
  > ul > li {
    margin: 0;
    padding: 0;
  }

  .cd-faq-trigger::before,
  .cd-faq-trigger::after {
    background: #00b3ee;
  }

  span {
    float: left;
    margin-right: 15px;
  }
}
