section.footer {

  min-height: 400px;
  background: #6fc3b4;
  padding: 0;
  color: #FFF;

  h2 {
    font-size: calc(14px + 1vw);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 0px 10px 10px 0px;
    }
  }

}

section.footer-bottom {
  background: #FFF;
  padding: 0 0 20px 0;
  margin: 0 auto;
  text-align: center;
  .logo {
    width: 200px;
  }

}

ul.creditcards {
  padding: 0;
  margin: 0;
  li {
    float: left;
    margin: 0 3px 0 0;

    list-style: none;
    background: #FFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    img {
      width: 100%;
      position: relative;
      left: 5px;
      top: 5px;
      padding:2px;
    }
  }
}