@import "variables";

.form-group input {

  border-radius: 4px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  word-break: normal;
  height: 40px;
}

.form-group input:focus {
  box-shadow: 0 0 0 1px $btn-default-color;
  outline: 2;

}

.flash .field-error .control-label,
.field-error .help-block,
.field-error .form-control-feedback {
  color: #ff0039;
  font-size: 9px;
}

.field-success .control-label,
.field-success .help-block,
.field-success .form-control-feedback {
  color: #2780e3;
}

span.flash {
  color: #ff0039;
  font-size: 9px;

}