section.kundeservice {

  margin-top: 70px;
  .content-box {
   // border: 2px solid $color-default-selected;
    img {
      @extend .animate;
    }

    .image {

      max-width: 100%;
      height: auto;
    }



    .imageContainer {
      height:150px;
      overflow: hidden;
    }


  }

  .content-box:hover img{
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
    @extend .animate;
  }

  ul {
    margin:10px;
    li{
      margin:10px;
    }
  }
}

section.service .content{

  ul {
    margin:10px;
    li{
      margin:10px;
      list-style-type: disc;
    }
  }
}