section.page-content {

  background: #FFF;

  padding: 30px 0 30px 0;

  text-align: left;
  h2 {
    padding: 10px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
  }

  max-width: 740px;

  .content {
    margin-bottom: 40px;

    hr:first-child {
      border: 1px solid #2e2e2e;
      width: 100%;
    }

  }

  hr {
    border: 1px solid #2e2e2e;
    width: 100px;

  }

}