section.sections {

  h2 {font-size: calc(22px + 3vw);}

}

section.service {

  ul {

    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

  }

  ul > li {

    padding: 0 10px 0 0;
  }
  .nav > li > a {

    color: #9d9d9d;
    padding: 0 5px 0 5px;
    font-size: 11px;
  }

  .nav .active {

    border-left: 1px solid $color-default-selected;

    a {
      color: $color-default-selected;
    }
  }

  .nav .nav {
    display: none;
  }

  .nav .active .nav {
    display: block;
  }

  .nav .nav a {
    font-weight: normal;
    font-size: .85em;

    :hover {

      background: none;
    }
  }
  .nav > li > a:hover {
    background: none;
    color: #2e2e2e
  }
  .nav .nav span {
    margin: 0 5px 0 2px;
  }

  .nav .nav .active a,
  .nav .nav .active:hover a,
  .nav .nav .active:focus a {
    color: $color-default-selected;
    padding-left: 30px;
    border-left: 5px solid black;

  }

  .nav .nav .active span,
  .nav .nav .active:hover span,
  .nav .nav .active:focus span {
    display: none;
  }
  .affix-top{

    width:200px;
  }

  .affix {

    position:fixed !important;
    top:140px;
    width: 200px;
    -webkit-transition: none;
    transition: none;

  }

  .affix-bottom {
    width:200px;
    position: absolute;
    -webkit-transition: none;
    transition: none;

  }


}