.borderless {
  border: none;

  tr, td {
    border: none
  }
}

.conditions {

  background: $color-default-selected;

  @extend .animate;;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 2px 5px 2px 5px;
  color: #FFF;
  margin-left: 0px;
}
.cart-table {

  background:#FFF;
  border-radius: 4px;
  padding:10px;
  margin-bottom:30px;
  border: 1px solid #eee;

  .itemName {

    font-size:11px;
  }

  .line > .price {

    font-size:11px;
  }
}
.large-cart {
  font-size: 9em !important;
  padding: 20px 0 20px 0px;
}

.address-select {
  background: #fff;
  border: 1px solid #eee;
  margin-bottom: 1em;
  position: relative;
  border-radius: 4px;
}

.address-select .radio input {
  margin: 0 5px 0 0;
  position: relative;
  top: -1px;
}

.address-select .radio {
  padding: 14px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.address-select ul.address-data {
  display: inline;
}

.address-select ul.address-data li {
  display: inline;
}

.address-select ul.address-data li {
  display: inline;
}

.address-select ul.address-data li strong {
  display: none;
}

.address-select ul.address-data li span[data-key=firstName] {
  font-weight: bold;
}

.address-select ul.address-data li span[data-key=lastName] {
  font-weight: bold;
}

.address-select .actions {
  float: right;
  padding: 14px 15px;
  font-size: 0.9em;
}

.address-select .actions ul {
  margin: 0;
}

.address-select .actions ul li {
  display: inline-block;
  margin: 0 0 0 1em;
}

.address-select .actions ul li a {
  color: #999;
  text-decoration: underline;
}

.address-select .body {
  padding: 14px;
}

.hidden {
  display: none;
}

.product.row {
  border-bottom: 1px solid #fafafa;
  margin-bottom: 2.5rem;
}

.product-details {
  padding-top: 2rem;
}

.address-card form {
  display: inline;
  margin: 0px;
}

.address-card {
  background: #fff;
  border: 1px solid #eee;
  margin-bottom: 1em;
  position: relative;
  border-radius: 4px;
  padding: 15px;
}

.address-card ul {
  list-style: none;
}

/* Steps
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.steps {
  font-size: 10px;
  padding: 20px;
}

.steps ul {
  display: flex;
  display: -webkit-flex;
  margin-bottom: 0;
}

.steps ul li {
  list-style: none;
  display: list-item;
  flex: 1;
  text-transform: uppercase;
  margin-left: 20px;
}

.steps ul li {
  color: #aaa;
}

.steps ul li a {
  color: #aaa;
}

.steps ul li.done {
  color: #00adf2;
  opacity: .5;

}

.steps ul li.done a {
  color: #00adf2;
}

.steps ul li.sel {
  color: #00adf2;
  opacity: 1;
}

.steps ul li.sel a {
  color: #00adf2;
}

.steps .meter {
  height: 10px;
  position: relative;
  border: 1px solid #bbb;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 3px;
  margin-bottom: 10px;
}

.steps .meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #00adf2;
  position: relative;
  overflow: hidden;
}

@media (max-width: 567px) {
  .steps ul {
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 2vh;
  }
  .steps ul li {
    list-style: none;
    display: list-item;
    white-space: nowrap;
  }
  .steps .meter {
    margin-bottom: 0;
    margin-top: 15px;
    height: 20px;
  }
}

.center-row {
  height: 50%;
  width: 100%;
  display: table-row;
}

.center-row > div {
  height: 100%;
  width: 50%;
  display: table-cell;
  border: 0 solid #eee;
  color: #fff;
  vertical-align: middle;
}