@import "variables";
@import "mixins";

.showBasket {

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;

}

.bas {

  margin: 0;
  @include rounded();
  position: absolute;
  left: 0px;
  top: 200px;
  display: inline-block;
  background: $color-logo-green;
  -webkit-transition: all 0.3s ease-in-out;
  height: 40px;
  padding: 10px;
  font-size: 15px;
  a {
    color: #FFF;

  }

  @media only screen and (max-width: 767px) {
    display: none;

  }
}

.colorBarAnimated {

  margin-top: 0 !important;
  background: $color-default-rgb;
  transition: all 0.3s ease-in-out;
  padding: 0;

  .bas {
    top: 100px;
    -webkit-transition: all 0.3s ease-in-out;
  }

  .logo {
    height: 50px;
    transition: all 0.3s ease-in-out;
  }

}

.subPageHeader {

  margin-top: 0 !important;
  -webkit-transition: none !important;
  transition: none !important;
}

.colorBar {

  background: $color-default-rgb;
  transition: all 0.3s ease-in-out;

  .logo {

    height:50px;
  }
}

.colorMargin {
  margin-top: 80px;
  -webkit-transition: none;
  transition: none;
}

header {

  text-transform: uppercase;
  width: 100%;

  ul.nav a {

    border-bottom: 1px solid rgba(255, 255, 255, 0);
    border-top: 1px solid rgba(255, 255, 255, 0);

    &:hover {
      //color: #c9c9c9;
      //background: rgba(255, 255, 255, 0.3)
      border-top: 1px solid #FFF;
      border-bottom: 1px solid #FFF;
      background: transparent;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

    }
  }

  .navbar-right {

    margin: 0 20px 0 20px;
  }

  .navbar-header {

    height: 70px;
    padding: 20px 10px 10px 10px;

  }

  .container {
    @media only screen and (max-width: 767px) {
      margin: 20px;

    }
  }

  .navbar {

    margin-top: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    padding: 10px 0 0 0;

    .nav > li > a {

      padding: 10px;
      color: #FFF;
      margin-right: 20px;
    }

  }

  .logo {
    width: auto;
    height: 50px;
    position: absolute;
    left:30px;
    top: 15px;



    @media only screen and (max-width: 767px) {
      margin: 0;

      .navbar {
        background: $color-default;
      }
    }
  }

  .navbar-collapse, .navbar-default {
    border: none;

  }
  .navbar-toggle.collapsed {

    .top-bar {
      transform: rotate(0);
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
  }

}

.navbar-toggle {

  padding: 5px;
  ul li {
    padding: 0;
    margin: 0;
  }
  border: none;
  margin: 14px 20px 0 0;

  @media only screen and (max-width: 767px) {
    margin: 0 10px 0 0;

  }

  .icon-bar {

    background-color: #FFF;
    width: 37px;
    height: 3px;
    border: none;
    transition: all 0.2s;

  }

  .top-bar {
    transform: rotate(45deg);
    transform-origin: 22% 22%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 22% 70%;
  }

}

.navbar-nav > .active {
  color: $color-default-selected;

  background: none;

}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: $color-default-selected;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;

}

@media only screen and (max-width: 767px) {

  .navbar {
    background: $color-default;
    margin-top: 0 !important;
  }

  .buy-nav {

  }

}

.buy-nav {
  margin-top: 15px;
  background-color: $color-default-selected;

  a:hover {
    background-color: $color-default;
  }

}

.navbar .dropdown-menu {
  position: absolute;
  top: 70px;
}

.table-basket {

  font-size: 10px;
  td, tr {
    background: none !important;
    vertical-align: top
  }
}
