// Google Fonts
@import url('http://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Open+Sans:200italic,700italic,400,700');

// Font Variables
$font-default: 'Roboto', serif !default;
$font-default-header: 'Open Sans', sans-serif;

$screen-sm:                  1024px !default;

//Colors

$color-default: #2e89a5;
$color-default-rgb: rgba(46,137,165,0.9);
$color-default-selected: #ed2258;
$color-grey: #f8f8f8;
$color-default-font: #444;
$color-logo-green: #6fc3b4;


$btn-default-color: $color-default;
$btn-primary-color:$color-default;



//Buttons
$color-default-button-background: $color-default;
