{% set title = "Nyhedsbrev" %}
{% set page = "kundeservice" %}
{% extends "includes/default" %}

{% block content %}

    <div class="row white">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="row content">


                    <form class="form-group" action="" method="POST">
                        <input type="hidden" name="action" value="mailchimpSubscribe/list/subscribe">
                        {#<input type="hidden" name="redirect" value="newsletter/receipt">#}

                        {% if mailchimpSubscribe is defined %}
                            {% if (not mailchimpSubscribe.success) and (mailchimpSubscribe.errorCode!='1000') %}
                                <p>An error occured. Please try again.</p>
                            {% endif %}
                        {% endif %}

                        <div class="form-group">
                            <label>Fornavn</label>
                            <input type="text" name="mcvars[FNAME]" class="form-control"
                                   value="{% if (mailchimpSubscribe is defined) and (not mailchimpSubscribe.success) %}{{ mailchimpSubscribe.values.vars.FNAME }}{% endif %}"/>
                        </div>

                        <div class="form-group">
                            <label>Efternavn</label>
                            <input type="text" name="mcvars[LNAME]" class="form-control"
                                   value="{% if (mailchimpSubscribe is defined) and (not mailchimpSubscribe.success) %}{{ mailchimpSubscribe.values.vars.LNAME }}{% endif %}"/>
                        </div>

                        <div class="form-group">
                            <label{% if (mailchimpSubscribe is defined) and (mailchimpSubscribe.errorCode=='1000') %} class="error"{% endif %}>E-mail:</label>
                            <input type="text" name="email" class="form-control"
                                   value="{% if (mailchimpSubscribe is defined) and (not mailchimpSubscribe.success) %}{{ mailchimpSubscribe.values.email }}{% endif %}"/>
                        </div>

                        <input type="submit" name="" class="btn btn-primary" value="Tilmeld"/>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% set js %}
    $('form').on("submit", function(event) {
    event.preventDefault();

    $.post('/', $(this).serialize())
    .done( function(data) {

    if (!data.success)
    {
    // there was an error, do something with data
    alert(data.message);
    }
    else
    {
    // Success
    alert("WEEEEEEEEEE");

    });
    });
{% endset %}

{% includeJs js %}







