//
// FormBuilder2
// --------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$select-color: #ed2258;
$input-color-placeholder: $select-color;
$input-fontWeight-placeholder: 100;
$input-opacity-placeholder: 0.4;
textarea:focus, input:focus {
  border: 2px solid #ed2258;
}

body {

  background: -moz-linear-gradient(-153.34% 102.06% 0deg, rgba(41, 132, 164, 1) 0%, rgba(111, 195, 180, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(41, 132, 164, 1) 0%, rgba(111, 195, 180, 1) 100%);
  background: -webkit-gradient(linear, -153.34% 102.06%, -36.15% 102.06%, color-stop(0, rgba(41, 132, 164, 1)), color-stop(1, rgba(111, 195, 180, 1)));
  background: -o-linear-gradient(0deg, rgba(41, 132, 164, 1) 0%, rgba(111, 195, 180, 1) 100%);
  background: -ms-linear-gradient(0deg, rgba(41, 132, 164, 1) 0%, rgba(111, 195, 180, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2984A4', endColorstr='#6FC3B4' ,GradientType=0)";
  background: linear-gradient(90deg, rgba(41, 132, 164, 1) 0%, rgba(111, 195, 180, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2984A4', endColorstr='#6FC3B4', GradientType=1);

}

textarea:focus, input:focus {
  outline: none;
}

.field {

  float: left;

  @media screen and (max-width: $screen-sm) {
    input {

      width: 360px !important;
    }
  }

}

.bestil-elektronikforsikring {
  font-family: 'Open Sans', serif;
  legend {
    border: none;
    text-transform: uppercase;
    font-color: #FFF;
  }
  @media screen and (max-width: 767px) {
    body {
      background: #fedabe !important;
    }
  }

  .field:nth-child(4), .field:nth-child(7), .field:nth-child(3), .field:nth-child(6) {

    float: none;
  }
  input[name=adresse] {
    width: 300px;

  }
  input[name=vejnr] {

    width: 65px;
  }

  input[name=postnr] {

  }


  ul {
    margin-top: 10px !important;
    border: 2px solid #ed2258 !important;

    li {

      background: #FFF !important;
      color: #2e2e2e !important;

    }

    li:hover {
      background: #ed2258 !important;
      color: #FFF !important;

    }
    li:last-child {
      //float: right;

    }

  }

}



button {

  opacity: 0.65;
  cursor: not-allowed;

}

::-webkit-input-placeholder {
  color: $input-color-placeholder;
  font-weight: $input-fontWeight-placeholder;
  opacity: $input-opacity-placeholder;
}

:-moz-placeholder { /* Firefox 18- */
  color: $input-color-placeholder;
  font-weight: $input-fontWeight-placeholder;
  opacity: $input-opacity-placeholder;
}

::-moz-placeholder { /* Firefox 19+ */
  color: $input-color-placeholder;
  font-weight: $input-fontWeight-placeholder;
  opacity: $input-opacity-placeholder;
}

:-ms-input-placeholder {
  color: $input-color-placeholder;
  font-weight: $input-fontWeight-placeholder;
  opacity: $input-opacity-placeholder;
}

.button {
  font-family: $roboto-slab;
  font-weight: bold;
}

.formbuilder2 {

  textarea:focus, input:focus {
    border: 2px solid #ed2258;
  }

  input {

    border: 2px solid #01637d;
    height: 40px;
    padding: 10px;
    margin-right: 5px;
    width: 200px;
  }

  .field {
    margin-bottom: 10px;
    label {
      font-size: 0.8em;
      font-weight: 300;
      display: none;
    }
  }

}


.basket {

  background: #FFFFFF;
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 2px solid #01637d;
  margin-top: 50px;

  ul {

    li:last-child{
      float:right !important;
    }
  }

}
