<ul class="order-address">
    <li>{{ address.firstName }} {{ address.lastName }}</li>
    {% if address.phone is not empty %}
        <li>{{ address.phone }}</li>
    {% endif %}

    {% if address.alternativePhone is not empty %}
        <li>{{ address.alternativePhone }}</li>
    {% endif %}
    <li>{{ address.address1 }}</li>
    <li>{{ address.zipCode }} {{ address.city }}</li>
    <li>{{ cart.email }}</li>

</ul>
