{% extends 'commerce/_layouts/main' %}

{% block main %}
    <div class="row">
        <div class="twelve columns">

            {% if cart.lineItems|length %}
                <table class="u-full-width">
                    <thead>
                    <tr>
                        <th>{{ "Product"|t }}</th>
                        <th>{{ "Qty"|t }}</th>
                        <th class="text-right">{{ "Price"|t }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cart.lineItems %}
                        <tr>
                            <td>

                                <strong>{{ item.description }}</strong><br>
                                <form method="POST">
                                    <input type="hidden" name="action" value="commerce/cart/removeLineItem"/>
                                    <input type="hidden" name="redirect" value="commerce/cart"/>
                                    {{ getCsrfInput() }}
                                    <input type="hidden" name="lineItemId" value="{{ item.id }}"/>
                                    <input type="submit" class="button link" value="{{ "Remove"|t }}"/>
                                </form>
                            </td>
                            <td>
                                <form method="POST">
                                    <input type="number" disabled name="qty" min="1" max="1" value="{{ item.qty }}">
                                </form>
                            </td>
                            <td class="text-right">

                                    {{ "Price"|t }}: {{ item.price|currency(cart.currency)|recurrent }}<br>



                            </td>
                        </tr>
                    {% endfor %}

                    {% for adjustment in cart.adjustments %}
                        <tr>
                            <td>{{ adjustment.type }}
                            </td>
                            <td><strong>{{ adjustment.name }}</strong><br>({{ adjustment.description }})</td>
                            <td class="text-right">{{ adjustment.amount|currency(cart.currency) }}</td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="2">
                            {# Remove all line items to empty the cart: #}
                            <form method="POST">
                                <input type="hidden" name="action" value="commerce/cart/removeAllLineItems"/>
                                <input type="hidden" name="redirect" value="commerce/cart"/>
                                {{ getCsrfInput() }}
                                <input class="button link" type="submit" value="{{ "Empty the Cart"|t }}"/>
                            </form>


                        </td>

                        <td class="text-right">

                            <h4>{{ "Total Price"|t }}: {{ cart.totalPrice|currency(cart.currency) }}</h4>
                        </td>
                    </tr>

                    </tbody>
                </table>

                <a class="button button-primary" href="{{ url('commerce/checkout') }}">{{ "Checkout"|t }}</a>
            {% endif %}

            {% if not cart.lineItems|length %}
                <p>You have no items in your cart, add some on the <a href="/commerce/products">products page</a>.</p>
            {% endif %}

        </div>
    </div>
{% endblock %}
