{% extends 'commerce/_layouts/main' %}

{% block main %}

    {% set addressId = craft.request.param('addressId') %}
    {% set redirect = craft.request.param('redirect') %}

    {% if not address is defined and addressId %}
        {% set address = craft.commerce.customer.address(addressId) %}
    {% endif %}
    <div class="row white">
        <div class="container content">
            <div class="col-md-8 col-md-offset-2">
                <form method="post">
                    <input type="hidden" name="action" value="commerce/customerAddresses/save">
                    {% if redirect %}
                        <input type="hidden" name="redirect" value="{{ redirect }}">
                    {% else %}
                        <input type="hidden" name="redirect" value="commerce/customer/addresses">
                    {% endif %}

                    {% if addressId %}
                        <input type="hidden" name="address[id]" value="{{ addressId }}">
                    {% endif %}

                    {% include 'commerce/_includes/addresses/form' %}

                    <input type="submit" value="Opdater Adresse" class="btn btn-default">
                </form>
                {% if redirect %}
                   <p><br/><a href="/{{ redirect }}" class="btn-link">Fortryd</a></p>
                {% else %}
                    <a href="/commerce/customer/addresses" class="btn btn-default">Fortryd</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
