{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}


{% set title = "KUNDESERVICE - FAQ" %}
{% set page = "kundeservice" %}
{% extends "includes/default" %}


{% block content %}

    {% set style =  'background-image:linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));' %}


    <div class="container-fluid bg-image redO"
         style="{{ style }}">
        <div class="page-image-header">
            <div class="centered">
                <h1>{{ "FAQ" }}</h1>
                <p>{{ "Spørgsmål & Svar" }}</p>
            </div>
        </div>
    </div>

    <div class="row box red">
        <section class="cd-faq faq">
            <div class="cd-faq-items">
                {% for entry in craft.entries.section('faq').find() %}
                    <ul id="basics" class="cd-faq-group">
                        <li class="cd-faq-title"><h2></h2></li>
                        <li>
                            <a class="cd-faq-trigger" href="#0"> {{ entry.title }}</a>
                            <div class="cd-faq-content">
                                {% for block in entry.answer %}

                                    {% if block.type == "answer" and  block.answer|length  > 1 %}
                                        <p><span>{{ loop.index }}. </span> {{ block.answer }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>
                    </ul>

                {% endfor %}

            </div> <!-- cd-faq-items -->
            <a href="#0" class="cd-close-panel">Close</a>
        </section> <!-- cd-faq -->
    </div>

    {% includeJsFile '/assets/javascripts/main.js' %}

{% endblock %}
