{#
/**
 * elektronikforsikring plugin for Craft CMS
 *
 * elektronikforsikring Settings.twig
 *
 * @author    Martin Beuschau
 * @copyright Copyright (c) 2016 Martin Beuschau
 * @link      18digital.dk
 * @package   Elektronikforsikring
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% includeCssResource "elektronikforsikring/css/Elektronikforsikring_Style.css" %}
{% includeJsResource "elektronikforsikring/js/Elektronikforsikring_Script.js" %}

{{ forms.textField({
    label: 'Ordre filnavn',
    instructions: 'Navn på ordrerfilen',
    id: 'csvFileName',
    name: 'csvFileName',
    value: settings['csvFileName']}) }}

{{ forms.textField({
    label: 'Navision e-mail',
    instructions: 'Denne e-mail skal modtage ordrerfilen',
    id: 'navisionEmail',
    name: 'navisionEmail',
    value: settings['navisionEmail']}) }}

{{ forms.textField({
    label: 'Feltnavn forsikring',
    instructions: 'Feltnavnet forsikring skal have et navn',
    id: 'forsikring',
    name: 'forsikring',
    value: settings['forsikring']}) }}

{{ forms.textField({
    label: 'Kladetype',
    instructions: 'Værdi på kladetype',
    id: 'kladetype',
    name: 'kladetype',
    value: settings['kladetype']}) }}



<div class="field" id="settings-kladdetype-field">
    <div class="heading">
        <label for="settings-kladdetype">Navision Order Status</label>
        <div class="instructions"><p>Tildel denne orderstatus når ordren er lagt i Navision</p>
        </div>
    </div>
    <div class="input ltr">
        {{ forms.select({
            id: 'orderStatusId',
            name: 'orderStatusId',
            options: orderStatuses,
            value: settings['orderStatusId']}) }}
    </div>
</div>




	{#{{ forms.select({
        id: 'orderStatusId',
        label: "Navision Order status",
        name: 'orderStatusId',
        options: [
        { label: 'Martin', value: '1' },
        { label: 'Leiberg', value: '2' },
        { label: 'Beuschau', value: '3' },
        ],
        value: settings['dropdown'],
    }) }}
#}