{% extends 'commerce/_layouts/main' %}

{% block main %}

    <div class="row product-details">
        <div class="six columns">
            {% include "commerce/_images/product" with { class: 'u-max-full-width' } %}
        </div>
        <div class="six columns">

            <h1>{{ product.title }}</h1>


            <form method="POST">
                <input type="hidden" name="action" value="commerce/cart/updateCart">
                <input type="hidden" name="redirect" value="{{ shopPrefix }}/cart">
                <input type="hidden" name="qty" value="1">
                {{ getCsrfInput() }}
                <select name="purchasableId">
                    {% for purchasable in product.variants %}
                        <option {% if purchasable.stock <= 0 and purchasable.unlimitedStock == false %}disabled {% endif %}
                                value="{{ purchasable.purchasableId }}">{{ purchasable.sku }} {{ purchasable.description }} {{ purchasable.price|currency(cart.currency) }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="{{ "Add to cart"|t }}" class="button"/>
            </form>

            <p><a href="{{ url('commerce/products') }}">&larr; {{ "Back to all products"|t }}.</a></p>
        </div>
    </div>

{% endblock %}

