{% set title = "Kundeservice" %}
{% set page = "kundeservice" %}
{% extends "includes/default" %}

{% set priceToday = craft.elektronikforsikring.getPriceTodayTotal %}


{% block content %}

    <div class="row bg-image centerContent">
        <div class="col-md-12">
            <h1>Pris for indeværende måned pr. dag</h1>
        </div>
    </div>


    <div class="row white">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">

                    {{ table|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}






