{% include 'includes/base/_header' %}
{% include 'navigation/_default' %}

{% set shopPrefix = craft.config.environmentVariables.shopPrefix %}
{% set home = craft.entries.section('homepage').first() %}


<div class="wrapper">
    {% include "includes/matrix/sections" with { 'sections' : home.sektioner } %}
</div>

{% include 'includes/footer/_footer.html' %}


{% includeJsFile '/assets/js/all.js' %}

</body>
</html>
