
{% set cart = craft.commerce.cart %}
{% set shopPrefix = craft.config.environmentVariables.shopPrefix %}
{% set title = globalOrderMessages.pageTitle %}


{% extends 'includes/default' %}

{% set number = craft.request.param('number') %}
{% set order = craft.commerce.orders.number(number).first() %}

{% if not order %}
    {% redirect "/" %}
{% endif %}

{% set orderTransaction = craft.elektronikforsikring.orderTransaction(order.id) %}
{% set cardType = craft.elektronikforsikring.getCardTypeId(orderTransaction.paymenttype) %}
{% set page = 'order' %}


{% if not order %}
    {% redirect '/' %}
{% endif %}

{% block content %}
    {% for block in globalOrderMessages.sektioner %}
        {% if block.type == "topbillede" %}

            {% set style ='' %}
            {% if block.billede.first()|length %}
                {% set style =  'background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('~ block.billede.first().url() ~') no-repeat top center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;' %}
            {% endif %}
            <div class="row bg-image centerContent" style="{{ style }}">
                <div class="col-md-12">
                    <h1>{{ include(template_from_string(block.overskrift)|raw) }}</h1>
                </div>
            </div>

        {% endif %}
    {% endfor %}
    <div class="row white">
        <div class="container content">
            <div class="col-md-8 col-md-offset-2">
                {{ include(template_from_string(globalOrderMessages.body)|raw) }}
            </div>
        </div>
    </div>

    <div class="row grey">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                <h2>Orderinformationer</h2>
                    <div class="col-md-6 col-xs-6">
                        <br>

                        <h4>{{ "Order"|t }} {{ order.id }}</h4>
                        <div>{{ "Customer"|t }}: {{ order.customer.email }}</div>
                        <div>{{ "Date"|t }}: {{ order.dateOrdered|date('d-m-Y') }}</div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <br>
                        <h4>{{ "Forsikringsadresse"|t }}</h4>
                        {% if order.shippingAddress %}
                            {% include 'commerce/_includes/addresses/address' with { address: order.shippingAddress } %}
                        {% endif %}
                    </div>

                    {% include 'commerce/_includes/orderitem' with {'items':order, 'orderTransaction':orderTransaction,'cardType':cardType} %}

                </div>
            </div>
        </div>
    </div>


{% endblock %}
