{% set cart = craft.commerce.cart %}
{% set shopPrefix = craft.config.environmentVariables.shopPrefix %}
{% include 'includes/base/_header' %}
<div>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
            href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->
    {% include 'navigation/_default' %}
</div>
<div class="wrapper">

                {% block main %}

                    {% block content %}

                    {% endblock %}

                {% endblock %}

</div>

{% include 'includes/footer/_footer.html' %}


</body>

</html>

