{% extends 'commerce/_layouts/main' %}
{% block main %}



{% for product in craft.commerce.products.limit(5).find() %}
    <div class="row product">
        <div class="two columns">
            {% include "commerce/_images/product" with { class: 'u-max-full-width' } %}
        </div>
        <div class="ten columns">
            <h5>{% if product.url %}{{ product.link }}{% else %}{{ product.title }}{% endif %}</h5>
            <p>{{ product.produktBeskrivelse|shortCodes(product.variants[0].salePrice) }}</p>
            {% if product.variants|length %}
                <form method="POST">
                    <input type="hidden" name="action" value="commerce/cart/updateCart">
                    <input type="hidden" name="redirect" value="{{ shopPrefix }}/cart">
                    <input type="hidden" name="qty" value="1">
                    <input type="hidden" name="purchasableId" value=" {{ product.variants[0].id }}">

                    {{ getCsrfInput() }}

                    {%  if product.abonnement == 1 %}
                        <h3>{{ product.variants[0].salePrice|currency(cart.currency)|recurrent}}</h3>
                    {% endif %}

                    {% if product.unlimitedStock or (product.unlimitedStock == false and product.totalStock > 0 ) %}
                        <button type="submit">{{ "Add to cart"|t }}</button>
                    {% else %}
                        {{ "Out of Stock"|t }}
                    {% endif %}
                </form>
            {% endif %}
        </div>
    </div>
{% endfor %}

{% endblock %}
