{% set title = "" %}
{% set page = "kundeservice" %}
{% extends "includes/default" %}

{% set style ='' %}
{% if entry.backgroundImage.first()|length %}
    {% set style =  'background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('~ entry.backgroundImage.first().url() ~') no-repeat top center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;' %}
{% endif %}


{% block content %}

    <div class="row bg-image redO" style="{{ style }}">
        <div class="page-image-header">
            <div class="centered">
                <h1>{{ entry.title }}</h1>
                <p>{{ entry.pageTeaser }}</p>
            </div>
        </div>
    </div>
    <div class="row white">
        <div class="col-md-8 col-md-offset-1">
            <div class="col-md-4">
                {% for block in entry.sektion %}
                    <ul stlyle="list-style-type: decimal">
                        <li><a href="#{{ block.headline }}">{{ block.headline }}</a></li>
                    </ul>
                {% endfor %}
            </div>
            <div class="col-md-8">
                <section class="container page-content">
                    {% for block in entry.sektion %}
                        <div class="content">
                            <div id="#{{ block.headline }}"></div>
                            <h3>{{ block.headline }}</h3>
                            <p>{{ block.body }}</p>
                        </div>
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>
{% endblock %}
