{% extends 'commerce/_layouts/checkout' %}

{% block content %}

    {% set addresses = craft.commerce.customer.addresses %}

    <section class="checkout">
        <div class="row grey">
            <div class="container content">
                <div class="col-md-4 col-md-offset-2">
                    <h3>Personlige informationer</h3>
                    Den indtastet addresse er den adresse, hvor forsikringen er gældende. Det er derfor vigtig at
                    adresser er korrekt.
                </div>
                <div class="col-md-4">
                    {#{% include "elektronikforsikring/addressLookup/addressLookup" %}#}

                    <form method="post" id="formAddress">

                        <input type="hidden" name="action" value="commerce/cart/updateCart">
                        <input type="hidden" name="redirect" value="commerce/checkout/bekraeft-og-betal"/>
                        {{ getCsrfInput() }}

                        {% include 'commerce/_includes/addresses/fieldset' with {
                        title: "Indtast navn og adresse",
                        class: 'ShippingAddress',
                        name: 'shippingAddress'
                        } %}

                        <input type="hidden" name="sameAddress" value="0">
                        <div class="form-group hidden">
                            <label for="sameAddress"><input id="sameAddress" name="sameAddress" type="checkbox"
                                                            checked="checked"/><span
                                        class="label-body"> {{ "Use same address for billing"|t }}</span></label>


                            {% include 'commerce/_includes/addresses/fieldset' with {
                            title: "Billing Address"|t,
                            class: 'BillingAddress hidden',
                            name: 'billingAddress'
                            } %}


                        </div>

                        <div class="col-md-6"><a class="btn-link" href="/commerce/checkout">TILBAGE</a></div>
                        <div class="col-md-6 text-right"><input type="submit" class="pull-right btn btn-primary"
                                                                value="{{ "Confirm addresses"|t }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    {% includejs %}


        (function() {
            // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
            if (!String.prototype.trim) {
                (function() {
                    // Make sure we trim BOM and NBSP
                    var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                    String.prototype.trim = function() {
                        return this.replace(rtrim, '');
                    };
                })();
            }

            [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
                // in case the input is already filled..
                if( inputEl.value.trim() !== '' ) {
                    classie.add( inputEl.parentNode, 'input--filled' );
                }

                // events:
                inputEl.addEventListener( 'focus', onInputFocus );
                inputEl.addEventListener( 'blur', onInputBlur );
            } );

            function onInputFocus( ev ) {
                classie.add( ev.target.parentNode, 'input--filled' );
            }

            function onInputBlur( ev ) {
                if( ev.target.value.trim() === '' ) {
                    classie.remove( ev.target.parentNode, 'input--filled' );
                }
            }
        })();



    var $fieldsets = $('.address-fieldset');

    $fieldsets.each(function () {

    var $addressFieldset = $(this);

    $('.address-select', $addressFieldset).each(function () {

    this.$element = $(this);
    this.$radio = $('.radio input', this.$element);
    this.$body = $('.body', this.$element);

    this.$radio.change($.proxy(function () {
    $('.body', $addressFieldset).addClass('hidden');
    this.$body.removeClass('hidden');
    }, this));

    if (this.$radio.is(':checked')) {
    this.$body.removeClass('hidden');
    }
    });

    });

    $("#sameAddress").change(function (e) {
    $('.address-fieldset.BillingAddress').toggleClass('hidden');
    });

    {% if cart.billingAddressId and cart.billingAddress.hasErrors() %}
        $("#sameAddress").click();
    {% endif %}
    {% endincludejs %}



{% endblock %}


