{% extends 'commerce/_layouts/checkout' %}

{% block content %}
    <section class="checkout">
        <div class="row grey">
            <div class="container content">
                <div class="col-md-6">
                    <h3>Indtastet informationer</h3>
                    <div class="form-box">
                        {% if cart.shippingAddress %}
                            {% include 'commerce/_includes/addresses/address' with {'address': cart.shippingAddress} %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">

                    <form method="POST" class="form-horizontal">
                        <h3>Kurv</h3>
                        {{ getCsrfInput() }}
                        <input type="hidden" name="action" value="commerce/payments/pay"/>
                        <input type="hidden" name="redirect" value="/commerce/customer/order?number={number}"/>
                        <input type="hidden" name="cancelUrl" value="/commerce/order/error"/>


                        {% include 'commerce/_includes/orderitem' with {items:cart} %}

                        <div class="text-right">
                            <input type="submit" class="btn btn-primary" value="køb"/>
                        </div>


                    </form>

                </div>
            </div>

        </div>
    </section>
    {% include 'includes/modal/betingelser.html' %}
{% endblock %}


        {% includejs %}

$("#condition").change(function() {
if($("#condition").is(':checked'))
{
$('#buyButton').prop("disabled",false);
$('.con').removeClass("conditions");
}
else
{
$('#buyButton').prop("disabled",true);
$('.con').addClass("conditions");
}
});

$('#buyButton').prop("disabled",true);

$('.con').addClass("conditions");

{% endincludejs %}
