{% extends 'commerce/_layouts/checkout' %}

{% block content %}

    {% set addresses = craft.commerce.customer.addresses %}
    <section class="checkout">
        <div class="row grey">
            <div class="container content">
                <div class="col-md-4 col-md-offset-2">
                    <h3>Hvorfor spørger vi efter din e-mail?</h3>
                    Du behøver ikke at oprette en konto, men vi har brug for din e-mail så vi kan sende dig en kvittering på dit køb.
                </div>
                <div class="col-md-4">
                    <div class="form-box">
                    <form method="post">
                        <input type="hidden" name="action" value="commerce/cart/updateCart">
                        <input type="hidden" name="redirect" value="commerce/checkout/personlige-informationer"/>
                        {{ getCsrfInput() }}

                        <div class="-form-group">
                            <label for="email">E-mail</label>
                            <input class="form-control" type="text" value="{{ cart.email }}" name="email"
                                   placeholder="din@email.dk"/>
                            <span class="flash">{{ cart.getErrors('email')|join }}</span>
                            <br>

                        </div>
                        <input type="submit" class="btn btn-default" value="Fortsæt">
                        {#<div class="col-md-6"><a class="btn-link" href="/commerce/checkout">TILBAGE</a></div>#}
                    </form>
                    </div>
                </div>
                {#<div class="col-md-2">Why do we ask for your email address?
                    No need to set up an account, but we need your email address to send you an order receipt and keep you updated on the status of your order.</div>
                <div class="col-md-8 col-md-offset-2">
                    <h1>Indtast E-mail</h1>



                        {% include "elektronikforsikring/addressLookup/addressLookup" %}

                        <form method="post">

                            <input type="hidden" name="action" value="commerce/cart/updateCart">
                            <input type="hidden" name="redirect" value="commerce/checkout/personlige-informationer"/>

                            {{ getCsrfInput() }}


                            <div class="form-group col-md-6">
                                <input class="form-control" type="text" value="{{ cart.email }}" name="email"
                                       placeholder="din@email.dk"/>
                                <span class="flash">{{ cart.getErrors('email')|join }}</span><br>
                            </div>
                            <div class="form-group col-md-3">


                                <input type="submit" class=" btn btn-primary" value="Fortsæt">
                            </div>
                            <div class="col-md-6"><a class="btn-link" href="/commerce/checkout">TILBAGE</a></div>
                        </form>



                </div>#}
            </div>
        </div>
    </section>
    {#{% includejs %}
    var $fieldsets = $('.address-fieldset');

    $fieldsets.each(function () {

    var $addressFieldset = $(this);

    $('.address-select', $addressFieldset).each(function () {

    this.$element = $(this);
    this.$radio = $('.radio input', this.$element);
    this.$body = $('.body', this.$element);

    this.$radio.change($.proxy(function () {
    $('.body', $addressFieldset).addClass('hidden');
    this.$body.removeClass('hidden');
    }, this));

    if (this.$radio.is(':checked')) {
    this.$body.removeClass('hidden');
    }
    });

    });

    $("#sameAddress").change(function (e) {
    $('.address-fieldset.BillingAddress').toggleClass('hidden');
    });

    {% if cart.billingAddressId and cart.billingAddress.hasErrors() %}
        $("#sameAddress").click();
    {% endif %}
    {% endincludejs %}#}

{% endblock %}
