{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% set title = "BETINGELSER" %}
{% set page = "betingelser" %}
{% extends "includes/default" %}

{% set style ='' %}
{% if entry.backgroundImage.first()|length %}
    {% set style =  'background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('~ entry.backgroundImage.first().url() ~') no-repeat top center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;' %}
{% endif %}




{% block content %}

    <div class="row bg-image redO" style="{{ style }}">
        <div class="page-image-header">
            <div class="centered">
                <h1>{{ entry.title }}</h1>
                <p>{{ entry.pageTeaser }}</p>
            </div>
        </div>
    </div>

    <div class="row white">
        <div class="col-md-12">
            <section class="container page-content">
                {% for block in entry.sektion %}
                    <div class="content">
                        <hr/>
                        <h2>{{ block.headline }}</h2>
                        <hr/>
                        <p>{{ block.body }}</p>
                    </div>
                {% endfor %}
            </section>
        </div>
    </div>
{% endblock %}
